<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.invetario">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InventarioEm"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".NuevoPedido" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PedidoEmp" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NuevaContra" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CambioContra" android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MenuEmpleado"
            android:label="@string/title_activity_menu_empleado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityHuella"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".InicioEmpleado"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegistroAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".InterfazAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".OlvidoContraAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".InicioAdministradorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>